* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header .container {
  max-width: 1586px;
  height: 1342px;
  background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
  margin: 0 auto;
}

.header__inner {
  max-width: 1250px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 119px 1fr;
  padding: 0 15px;
}

.header__top {
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 206px;
  height: 78px;
  cursor: pointer;
}

.header__menu {
  width: 440px;
  height: 52px;
  padding: 0;
  background-color: transparent;
  display: flex;
  place-items: center;
  list-style-type: none;
}

.header__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__link {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  width: 110px;
  text-align: center;
}

.header__btn {
  width: 153px;
  height: 52px;
  margin-right: 9px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 39px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  cursor: pointer;
  transform: all;
}

.header__btn:hover {
  background-color: #fff;
  color: #000;
  transition: 500ms;
}

.header__bottom {
  height: 100%;
  grid-row: 2 / 3;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 90px;
}

.header__text {
  width: 650px;
  height: 200px;
  margin-bottom: 86px;
}

.header__h1 {
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #fff;
  margin-bottom: 30px;
}

.header__p {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #fff;
  margin-top: 0;
}

.header__bottom-link {
  margin-bottom: 75px;
}

.header__get-started {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 15px;
  color: #fff;
  width: 183px;
  height: 52px;
  border: 1px solid #FFF;
  border-radius: 39px;
  transform: all;
  margin-right: 13px;
}

.header__try-for-free {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 15px;
  color: #fff;
  width: 172px;
  height: 52px;
  border: 1px solid #FFF;
  border-radius: 39px;
  transform: all;
}

.header__get-started:hover, .header__try-for-free:hover {
  background-color: #fff;
  color: #000;
  transition: 500ms;
}

.header__screen {
  max-width: 1041px;
  max-height: 688px;
}

.header__img {
  max-width: 100%;
  height: auto;
}

.built .container {
  max-width: 1586px;
  height: 903px;
  margin: 0 auto;
}

.built__inner {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.built__top {
  margin-top: 101px;
  margin-bottom: 92px;
  max-width: 791px;
  display: flex;
  justify-content: center;
}

.built__h2 {
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  color: #000;
  text-align: center;
  margin: 0;
}

.built__bottom {
  max-width: 1273px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.built__item {
  width: 405px;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 50px;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border: 1px solid #DEDEDE;
  border-radius: 10px;
}

.built__item--2 {
  background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
}

.built__item--2 .built__item-svg {
  fill: #fff;
}

.built__item--2 .built__h3, .built__item--2 .built__text, .built__item--2 .built__link {
  color: #fff;
}

.built__item-svg {
  fill: #03D6F3;
}

.built__h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 33px;
}

.built__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.built__link {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  color: #03D6F3;
  text-decoration: none;
}

.quick .container {
  max-width: 1586px;
  height: 757px;
  margin: 0 auto;
}

.quick__inner {
  margin: 0 auto;
  max-width: 1132px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.quick__left {
  width: 490px;
  height: 289px;
}

.quick__h2 {
  margin: 0;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
}

.quick__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin-top: 36px;
  margin-bottom: 36px;
  color: #5C5C5C;
}

.quick__link-sign {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 15px;
  background-color: #fff;
  color: #03D6F3;
  width: 216px;
  height: 52px;
  border: 1px solid #FFF;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  transform: all;
  margin-right: 13px;
  transform: all;
}

.quick__link-find {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 15px;
  background-color: #fff;
  color: #03D6F3;
  width: 216px;
  height: 52px;
  border: 1px solid #FFF;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  transform: all;
  margin-right: 13px;
  transform: all;
}

.quick__link-sign:hover, .quick__link-find:hover {
  transition: 500ms;
  color: #fff;
  background-color: #03D6F3;
}

.perfect .container {
  max-width: 1586px;
  height: 809px;
  margin: 0 auto;
}

.perfect__inner {
  margin: 0 auto;
  max-width: 1132px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.perfect__right {
  width: 540px;
  height: 289px;
}

.perfect__h2 {
  margin: 0;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
}

.perfect__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin-top: 36px;
  margin-bottom: 36px;
  color: #5C5C5C;
}

.perfect__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 15px;
  background-color: #fff;
  color: #03D6F3;
  width: 216px;
  height: 52px;
  border: 1px solid #FFF;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  transform: all;
  margin-right: 13px;
  transform: all;
}

.perfect__link:hover {
  transition: 500ms;
  color: #fff;
  background-color: #03D6F3;
}

.solution .container {
  max-width: 1586px;
  height: 757px;
  margin: 0 auto;
}

.solution__inner {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.solution__left {
  width: 450px;
  height: 479px;
}

.solution__h2 {
  margin: 0;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
}

.solution__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding: 0;
  margin-top: 36px;
  margin-bottom: 36px;
  color: #5C5C5C;
}

.solution__link-sign {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 15px;
  background-color: #fff;
  color: #03D6F3;
  width: 216px;
  height: 52px;
  border: 1px solid #FFF;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  transform: all;
  margin-right: 7px;
  transform: all;
}

.solution__link-find {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 15px;
  background-color: #fff;
  color: #03D6F3;
  width: 203px;
  height: 52px;
  border: 1px solid #FFF;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  transform: all;
  transform: all;
}

.solution__link-sign:hover, .solution__link-find:hover {
  transition: 500ms;
  color: #fff;
  background-color: #03D6F3;
}

.solution__right {
  max-width: 762px;
  max-height: 545px;
}

.solution__img {
  max-width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */