

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

// ########HEADER##########
.header {
    .container {
        max-width: 1586px;
        height: 1342px;
        background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
        margin: 0 auto;
    }
    &__inner {
        max-width: 1250px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 119px 1fr;
        padding: 0 15px;
        
    }
    &__top {
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        width: 206px;
        height: 78px;
        cursor: pointer;
    }
    &__navigation {}
    &__menu {
        width: 440px;
        height: 52px;
        padding: 0;
        background-color: transparent;
        display: flex;
        place-items: center;
        list-style-type: none;
    }
    &__item {        
        display: flex;
        justify-content: center;   
        align-items: center;
    }
    &__link {
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        line-height: 27px;
        font-weight: 400;
        width: 110px;        
        text-align: center;
        
    }
    &__btn {        
        width: 153px;
        height: 52px;
        margin-right: 9px;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 39px;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        color: #fff;
        cursor: pointer;
        transform: all;        
    }

    &__btn:hover {        
        background-color: #fff;
        color: #000;
        transition: 500ms;
    }

    &__bottom {
        height: 100%;
        grid-row: 2 / 3;
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-top: 90px;        
    }
    &__text {
        width: 650px;
        height: 200px;        
        margin-bottom: 86px;
    }

    &__h1 {
        font-weight: 900;
        font-size: 55px;
        line-height: 65px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #fff;
        margin-bottom: 30px;
    }
    &__p {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #fff;
        margin-top: 0;        
    }

    &__bottom-link {
        margin-bottom: 75px;
    }

    &__get-started {
        text-decoration: none;
        display: inline-block;
        text-align: center;
        padding: 15px;
        color:#fff;
        width: 183px;
        height: 52px;
        border: 1px solid #FFF;
        border-radius: 39px;
        transform: all;
        margin-right: 13px;
    }

    &__try-for-free {
        text-decoration: none;
        display: inline-block;
        text-align: center;
        padding: 15px;
        color:#fff;
        width: 172px;
        height: 52px;
        border: 1px solid #FFF;
        border-radius: 39px;
        transform: all;       
    }   
    
    &__get-started:hover, &__try-for-free:hover {        
        background-color: #fff;
        color: #000;
        transition: 500ms;
    }

    &__screen {
        max-width: 1041px;
        max-height: 688px;        
    }
    &__img {
        max-width: 100%;
        height: auto;
    }
}

// #########BUILT###########
.built {
    .container {
        max-width: 1586px;
        height: 903px;
        margin: 0 auto;
    }
    &__inner {
        margin: 0 auto;
        max-width: 1280px;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
    }
    &__top {
        margin-top: 101px;
        margin-bottom: 92px;
        max-width: 791px;
        display: flex;
        justify-content: center;
    }
    &__h2 {
        font-weight: 500;
        font-size: 46px;
        line-height: 57px;
        color: #000;
        text-align: center;
        margin: 0;
    }
    &__bottom {
        max-width: 1273px;
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }
    &__item {
        width: 405px;
        height: 440px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 50px;
        box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
        border: 1px solid #DEDEDE;
        border-radius: 10px;    
    }
    &__item--1 {}
    &__item--2 {
        background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
        .built__item-svg {       
        fill: #fff;
        }          
        .built__h3, .built__text, .built__link {            
            color: #fff;
        }
    }
    &__item--3 {}
    &__item-svg {       
        fill: #03D6F3;        
        
    }   
    &__h3 {
        font-weight: bold;
        font-size: 30px;
        line-height: 33px;
    }
    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
    }
    &__link {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 27px;
        color: #03D6F3;
        text-decoration: none;
    }
}

// #########QUICK###########
.quick {
    .container {
        max-width: 1586px;
        height: 757px;
        margin: 0 auto;
    }
    &__inner {
        margin: 0 auto;
        max-width: 1132px;
        height: 100%;
        display: flex;        
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    &__left {
        width: 490px;
        height: 289px;        
    }
    &__h2 {
        margin: 0;
        font-weight: 500;
        font-size: 46px;
        line-height: 57px;
    }
    &__text {        
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        padding: 0;
        margin-top: 36px;
        margin-bottom: 36px;
        color: #5C5C5C;
    }
    &__link-sign {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        padding: 15px;
        background-color: #fff;
        color: #03D6F3;
        width: 216px;
        height: 52px;
        border: 1px solid #FFF;
        box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
        border-radius: 39px;
        transform: all;
        margin-right: 13px;
        transform: all;
    }
    &__link-find {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        padding: 15px;
        background-color: #fff;
        color: #03D6F3;
        width: 216px;
        height: 52px;
        border: 1px solid #FFF;
        box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
        border-radius: 39px;
        transform: all;
        margin-right: 13px;
        transform: all;
    }
    &__link-sign:hover, &__link-find:hover {
        transition: 500ms;
        color:#fff;
        background-color: #03D6F3;
    }

    &__right {}
    &__svg {}
}

// #########QUICK###########

.perfect {
    .container {
        max-width: 1586px;
        height: 809px;
        margin: 0 auto;
    }
    &__inner {
        margin: 0 auto;
        max-width: 1132px;
        height: 100%;
        display: flex;        
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    &__left {
        // max-width: 516px;
        // max-height: 538px;
    }
    &__right {
        width: 540px;
        height: 289px; 
    }
    &__h2 {
        margin: 0;
        font-weight: 500;
        font-size: 46px;
        line-height: 57px;
    }
    &__text {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        padding: 0;
        margin-top: 36px;
        margin-bottom: 36px;
        color: #5C5C5C;
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        padding: 15px;
        background-color: #fff;
        color: #03D6F3;
        width: 216px;
        height: 52px;
        border: 1px solid #FFF;
        box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
        border-radius: 39px;
        transform: all;
        margin-right: 13px;
        transform: all;
    }
    &__link:hover {
        transition: 500ms;
        color:#fff;
        background-color: #03D6F3;
    }
}

